/* ==================================== */
/* GENRAL STUFF */

html {
    color: @FormFore;
    Font: 12px "Segoe UI";
}

hr {
    border: 0;
    height: 1px;
    background: @FormBorder no-repeat scroll center;
    width: 70%;
}

a {
    color: @GenericLinkColor;
    text-decoration: underline;
}

.linkSeparator {
    color: @SubTextFore;
}

pre {
    background-color: @FormAltBack;
    Font: 11px "Consolas";
}

code {
    background-color: @FormAltBack;
    padding-left: 5px;
    padding-right: 5px;
    Font: 11px "Consolas";
}

table {
    Font: 12px "Segoe UI";
}

ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.errors {
    background-color: #E6E6E6;
    padding: 5px;
}

.AccentColor {
    color: @AccentColor;
}

.SubTextColor {
    color: @SubTextFore;
}

.AlternatBackColor {
    background-color: @FormAltBack;
    color: @FormFore;
}

.NormalBackColor {
    background-color: @FormBack;
    color: @FormFore;
}

.Title {
    font-size: 24px;
    font-weight: bold;
    color: #1E1E1E;
}

.SubTitle {
    font-size: 18px;
    font-weight: bold;
    color: #093850;
}

.IndentDiv {
    margin-left: 8px;
}


/*This is the class of the HtmlToolTip*/
.yamui-tooltip {
    border: solid 2px @FormBorder;
    background-color: @FormBack;
    color: @FormFore;
    padding: 4px;
}

.contextMenuTitle {
    border-width: 0;
    color: @FormFore;
    padding: 5px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    /*background-color: @FormBack;*/
    padding-right: 20px;
}

/* ==================================== */
/* TOOL TIPS */


.InfoToolTip {
    background-color: @FormBack;
    color: @FormFore;
    font-size: 12px;
    border: none;
}
.ToolTipName {
    font-weight: bold;
    font-size: 13px;
    background-color: @FormAltBack;
    padding: 4px;
    padding-bottom: 0px;
}
.ToolTipSubString {
	color: @SubTextFore;
	font-weight: bold;
}
.ToolTipHelp {
	background-color: @FormAltBack;
	padding: 4px;
	padding-top: 0px;
	font-size: 11px;
	margin-bottom: 5px;
	text-align: right;
}
.ToolTipBottom {
	background-color: @FormAltBack;
	padding: 4px;
	margin-top: 5px;
    height: 5px;
}
.ToolTipDownArrow {
    font-family: wingdings;
    font-style: normal;
}
.ToolTipRowWithImg {
    padding-bottom: 5px;
}
.ToolTipSubTitle {
    text-decoration: underline;
    margin-top: 6px;
    margin-bottom: 6px;
}
.ToolTipcodeSnippet {
    background-color: @FormAltBack;
    margin: 10px 2px;
    padding: 5px 5px;
    word-wrap: normal;
    font-family: Consolas,Courier,monospace;
    font-size: 11px;
}


/* ==================================== */
/* LOCAL HTML HANDLER */
.NotificationTitle {
    font-size: 24px;
    font-weight: bold;
    color: @FormFore;
}

.NotificationSubTitle {
    font-size: 18px;
    font-weight: bold;
    color: @SubTextFore;
}


/* ==================================== */
/* Main appli and file tags */
.AppliTitle {
    font-weight: bold;
    font-size: 19px;
}

.CompPathHead {
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 20px;
    padding-top: 20px;
}


