[submodule "Yamui.Framework"]
	path = Yamui.Framework
	url = https://github.com/jcaillon/Yamui.Framework.git
[submodule "Oetools.Packager"]
	path = Oetools.Packager
	url = https://github.com/jcaillon/Oetools.Packager.git
