*/obj/*
*/bin/*
*/Debug/*
*.FileListAbsolute.txt
/3PA/Backup 4 of 3PA.csproj
/3PA/Backup 5 of 3PA.csproj
/3PA/Backup 6 of 3PA.csproj
/3PA/Backup 1 of 3PA.csproj
/3PA/Backup 2 of 3PA.csproj
/3PA/Backup 3 of 3PA.csproj
/3PA/Lib/3pUpdater/3pUpdater/obj
/3PA/Lib/3pUpdater/3pUpdater/bin
/ObjectListView/obj
/ObjectListView/bin
/YamuiDemoApp/obj
/YamuiDemoApp/bin
/YamuiFramework/bin
/YamuiFramework/obj
/3PA/bin
/3PA/obj
/3PA/Lib/ObjectListView/ObjectListView.XML
/.vs/3P/v14
/3P.sln.DotSettings.user
/3PA/Lib/ObjectListView/ObjectListView.dll
/3PA/Lib/ObjectListView/ObjectListView.pdb
/3PA/Lib/YamuiFolder/YamuiFramework.dll
/3PA/Lib/YamuiFolder/YamuiFramework.pdb
/3PA/3P.csproj.user
/.vs/Supercharger/3P
/.vs/Supercharger/ObjectListView2012
/.vs/Supercharger/YamuiFramework
/Releases
/.vs/config/applicationhost.config
/3PA/_Resource/Dependencies/YamuiFramework.dll
/.vs/3P/v15
/.idea
/3PA/*.DotSettings
/*.suo
/packages/DllExport.1.6.0
