[submodule "Yamui.Framework"]
	path = Yamui.Framework
	url = ../Yamui.Framework.git
[submodule "Oetools.AblParser"]
	path = Oetools.AblParser
	url = ../Oetools.AblParser.git
[submodule "Oetools.Debugger"]
	path = Oetools.Debugger
	url = ../Oetools.Debugger.git
[submodule "Oetools.Builder"]
	path = Oetools.Builder
	url = ../Oetools.Builder.git
