/* ==================================== */
/* GENRAL STUFF */
html {
    padding: 0;
    margin: 0;
    Font: 12px "Segoe UI";
    color: %FGCOLOR%;
}

body {
    padding: 0;
    margin: 0;
}

/* this decorates the htmllabels */
.yamui-text { 
    Font: 12px "Segoe UI";
    color: %FGCOLOR%;
    margin: 0;
    padding: 0;
}

/*This is the class of the HtmlToolTip*/
.yamui-tooltip {
    border: solid 1px %FGCOLOR%;
    background-color: %BGCOLOR%;
    color: %FGCOLOR%;
    padding: 5px;
    Font: 12px "Segoe UI";
}

.AccentColor {
    color: %ACCENTCOLOR%;
}

a:hover {
     text-decoration: underline;
}
a:link {
    color: %LINKCOLOR%;
    text-decoration: underline;
}


/* ==================================== */
/* TOOL TIPS */

.InfoToolTip {
    background-color: %BGCOLOR%;
    color: %FGCOLOR%;
    Font: 12px "Segoe UI";
    border: none;
}
.ToolTipName {
    font-weight: bold;
    font-size: 13px;
    background-color: %ALTERNATEBGCOLOR%;
    margin-bottom: 5px;
}
.ToolTipBottomGoTo {
    background-color: %ALTERNATEBGCOLOR%;
    margin-top: 10px;

    font-size: 11px;
}
.ToolGotoDefinition:link {
    color: %LINKCOLOR%;
    text-decoration: underline;
}
.ToolTipDownArrow {
    font-family: wingdings;
    font-style: normal;
}
.ToolTipSubString {
    color: %SUBSTRINGCOLOR%;
    font-weight: bold;
}
.ToolTipRowWithImg {
    padding-bottom: 5px;
}
.ToolTipSubTitle {
    text-decoration: underline;
    margin-top: 6px;
    margin-bottom: 6px;
}
.ToolTipCount {
    width: 30px;
    font-weight: bold;
    font-size: 10px;
    text-align: right;
}


/* ==================================== */
/* NOTIFICATIONS */
.NotificationTitle {
    font-size: 20px;
    font-weight: bold;
}

.NotificationSubTitle {
    font-size: 16px;
    font-weight: bold;
}



/* ==================================== */
/* NOTIFICATIONS */
.AppliTitle {
    font-weight: bold;
    font-size: 19px;
}