/* ==================================== */
/* GENRAL STUFF */

html {
    color: @FormFore;
    Font: 12px "Segoe UI";
}

hr {
    border: 0;
    height: 1px;
    background: @FormBorder no-repeat scroll center;
    width: 70%;
}

a:link {
    color: @GenericLinkColor;
    text-decoration: underline;
}

pre {
    background-color: @FormAltBack;
    Font: 12px "Consolas";
}

code {
    background-color: @FormAltBack;
    padding-left: 5px;
    padding-right: 5px;
    Font: 11px "Consolas";
}

/*This is the class of the HtmlToolTip*/
.yamui-tooltip {
    border: solid 2px @FormBorder;
    background-color: @FormBack;
    color: @FormFore;
    padding: 4px;
}

.contextMenuTitle {
    border-width: 0;
    color: @FormFore;
    padding: 5px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    /*background-color: @FormBack;*/
    padding-right: 20px;
}

.AccentColor {
    color: @AccentColor;
}

.SubTextColor {
    color: @SubTextFore;
}

.AlternatBackColor {
    background-color: @FormAltBack;
    color: @FormFore;
}

.NormalBackColor {
    background-color: @FormBack;
    color: @FormFore;
}



/* ==================================== */
/* TOOL TIPS */

.InfoToolTip {
    background-color: @FormBack;
    color: @FormFore;
    font-size: 12px;
    border: none;
}
.ToolTipName {
    font-weight: bold;
    font-size: 13px;
    background-color: @FormAltBack;
    margin-bottom: 5px;
}
.ToolTipDisplayText {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
}
.ToolTipBottomGoTo {
    background-color: @FormAltBack;
    margin-top: 10px;
    padding: 4px;
    font-size: 11px;
}
.ToolGotoDefinition:link {
    color: @GenericLinkColor;
    text-decoration: underline;
}
.ToolTipDownArrow {
    font-family: wingdings;
    font-style: normal;
}
.ToolTipSubString {
    color: @SubTextFore;
    font-weight: bold;
}
.ToolTipRowWithImg {
    padding-bottom: 5px;
}
.ToolTipSubTitle {
    text-decoration: underline;
    margin-top: 6px;
    margin-bottom: 6px;
}
.ToolTipCount {
    width: 33px;
    font-weight: bold;
    font-style: italic;
    font-size: 11px;
    text-align: right;
    padding-right: 3px;
}
.ToolTipcodeSnippet {
    background-color: @FormAltBack;
    margin: 10px 2px;
    padding: 5px 5px;
    word-wrap: normal;
    font-family: Consolas,Courier,monospace;
    font-size: 11px;
}


/* ==================================== */
/* LOCAL HTML HANDLER */
.NotificationTitle {
    font-size: 24px;
    font-weight: bold;
    color: @FormFore;
}

.NotificationSubTitle {
    font-size: 18px;
    font-weight: bold;
    color: @SubTextFore;
}


/* ==================================== */
/* Main appli and file tags */
.AppliTitle {
    font-weight: bold;
    font-size: 19px;
}

.CompPathHead {
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 20px;
    padding-top: 20px;
}


