/* ==================================== */
/* GENRAL STUFF */
html {
    padding: 0;
    margin: 0;
    Font: 12px "Segoe UI";
    color: %FGCOLOR%;
}

body {
    padding: 0;
    margin: 0;
}

hr {
    border: 0;
    height: 1px;
    background: %FORMBORDER% no-repeat scroll center;
    width: 70%;
}

a:link {
    color: %LINKCOLOR%;
    text-decoration: underline;
    /*margin: 0px;
    padding: 0px;*/
}

code {
    background-color: %ALTERNATEBGCOLOR%;
    padding-left: 5px;
    padding-right: 5px;
}


/* this decorates the htmllabels */
.yamui-text { 
    color: %FGCOLOR%;
    margin: 0;
    padding: 0;
}

/*This is the class of the HtmlToolTip*/
.yamui-tooltip {
    border: solid 2px %FORMBORDER%;
    background-color: %BGCOLOR%;
    color: %FGCOLOR%;
    padding: 4px;
}



.contextMenuTitle {
    border-width: 0;
    color: %FGCOLOR%;
    padding: 5px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    /*background-color: %BGCOLOR%;*/
    padding-right: 20px;
}

.AccentColor {
    color: %ACCENTCOLOR%;
}

.SubTextColor {
    color: %SUBSTRINGCOLOR%;
}

.AlternatBackColor {
    background-color: %ALTERNATEBGCOLOR%;
    color: %FGCOLOR%;
}

.NormalBackColor {
    background-color: %BGCOLOR%;
    color: %FGCOLOR%;
}

.NormalForeColor {
    color: %FGCOLOR%;
}





/* ==================================== */
/* TOOL TIPS */

.InfoToolTip {
    background-color: %BGCOLOR%;
    color: %FGCOLOR%;
    Font: 12px "Segoe UI";
    border: none;
}
.ToolTipName {
    font-weight: bold;
    font-size: 13px;
    background-color: %ALTERNATEBGCOLOR%;
    margin-bottom: 5px;
}
.ToolTipDisplayText {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
}
.ToolTipBottomGoTo {
    background-color: %ALTERNATEBGCOLOR%;
    margin-top: 10px;
    padding: 4px;

    font-size: 11px;
}
.ToolGotoDefinition:link {
    color: %LINKCOLOR%;
    text-decoration: underline;
}
.ToolTipDownArrow {
    font-family: wingdings;
    font-style: normal;
}
.ToolTipSubString {
    color: %SUBSTRINGCOLOR%;
    font-weight: bold;
}
.ToolTipRowWithImg {
    padding-bottom: 5px;
}
.ToolTipSubTitle {
    text-decoration: underline;
    margin-top: 6px;
    margin-bottom: 6px;
}
.ToolTipCount {
    width: 33px;
    font-weight: bold;
    font-style: italic;
    font-size: 11px;
    text-align: right;
    padding-right: 3px;
}
.ToolTipcodeSnippet {
    background-color: %ALTERNATEBGCOLOR%;
    margin: 10px 2px;
    padding: 5px 5px;
    word-wrap: normal;
    font-family: Consolas,Courier,monospace;
    font-size: 11px;
}


/* ==================================== */
/* LOCAL HTML HANDLER */
.NotificationTitle {
    font-size: 24px;
    font-weight: bold;
    color: %FGCOLOR%;
}

.NotificationSubTitle {
    font-size: 18px;
    font-weight: bold;
    color: %SUBSTRINGCOLOR%;
}


/* ==================================== */
/* Main appli and file tags */
.AppliTitle {
    font-weight: bold;
    font-size: 19px;
}

.CompPathHead {
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 20px;
    padding-top: 20px;
}


