html {
    padding: 0;
    margin: 0;
    Font: 12px "Segoe UI";
    color: @FormFore;
}

/* This is the class of the Html ToolTip */
.yamui-tooltip {
    border: solid 1px @FormBorder;
    background-color: @FormBack;
    padding: 5px;
}